@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    /* Includes padding and border when setting a width or height */
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    line-height: 1.5;
}
h1{
    font-weight: 400;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 20px;
}
a{
    /* "text-decoration: none;" Removes the underline on a link */
    text-decoration: none;
    color: #504e4e;
}

#main{
    /* VH (viewport height) determines the height of an element by a percentage of the viewport(used for width) */
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* SO text does NOT go right or left against the edge of smaller screen sizes */
    padding: 0 20px;
    /* "position: relative;" here so the #video-container div will positioned relative to this element instead of HTML */
    position: relative;
}

#video-container{
    /* Allows there to be something when pulling up webpage instead of white */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("cover.png");
    background-position: center;
    background-size: cover;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#cover{
    /* Can not put things on top of other things without "position: absolute;" */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
}

#content{
    z-index: 2;
    color: white;
    text-align: center;
}

#click{
    /* Inline-Block allows to set top and bottom margin, as well as width and height */
    display: inline-block;
    /* Creates bottom look */
    margin: 25px;
    border: 2px solid white;
    padding: 10px 30px;
    background-color: #504e4e;
    /* A (AKA Anchor) will NOT inherit a text color. Must be applied directly */
    color: white;
    border-radius: 10px;
    font-size: 20px;
    /* Makes it look a little more transparent  */
    opacity: 0.8;
}

#click:hover{
    /* Changes the size of an element */
    transform: scale(0.95);
}
